@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.container-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    /* background-image: url(./police.jpg); */
    /* background-repeat: no-repeat; */
    /* position: relative; */


}

.container {
    display: flex;
    height: 80vh;
    width: 100vw;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
}

.login_container {
    display: flex;
    flex-direction: column;
    height: 78vh;
    width: 27vw;
    border-radius: 30px;
    /* background-color: red; */
    background-color: rgb(242, 231, 218);
    padding: 10px;
    align-items: center;
}
.logos{ 
    height: 13vh;
    /* background-color: red; */

}
.logos img{
    width: 65px;
}
.heading {
    height: 18vh;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* margin-bottom: 20px;  */
}

.heading>p {
    text-align: center;
    font-size: 24px;
    font-weight: 550;
}

.details>p {
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
}

.input_field {
    padding: 10px 0;
}
.login_details a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
button {
    border: none;
    outline: none;
    padding: 8px;
    color: white;
    background-color: orange;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    min-width: 8vw;
    margin-right: 10px;

}

input[type=number] {
    -moz-appearance: textfield;
}
input[type=number] ::-webkit-outer-spin-button,
input[type=number] ::-webkit-inner-spin-button {
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input {
    min-width: 20vw;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 9px;
    border: 1px solid gray;
}

.login_details {
    display: flex;
    height: 5vh;
    /* background-color: black; */
    min-width: 21vw;
    justify-content: flex-start;
    font-size: 13px;
    align-items: center;
}

hr {
    margin: 30px 0 30px 0;
    width: 18vw;
    color: white;
}

.signUp_details {
    display: flex;
    font-size: 13px;
    width: 21vw;
    /* background-color: blue; */
    margin-left: 25px;
}

.signUp_details a {
    text-decoration: none;
    color: black;
    font-weight: 600
}
.btns{
    display: flex;
    align-items: center;
}